*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--color-bg);
    font-family: var(--font-family);
}

.container{
  max-width: 1300px;
  margin: auto;
}


a{
    color: unset;
    text-decoration: none;
}
.gradient_bg {
  background: rgb(93,39,170);
background: linear-gradient(90deg, rgba(93,39,170,1) 0%, rgba(71,37,140,1) 21%, rgba(10,23,74,0.9976365546218487) 55%, rgba(0,0,0,0.9668242296918768) 95%);

}

.gradient_bar{
  background: rgb(2,29,162);
  background: linear-gradient(270deg, rgba(2,29,162,1) 10%, rgba(45,107,197,0.8715861344537815) 59%, rgba(163,48,167,1) 100%);
}

.gradient_text{
    background-color: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_padding{
    padding: 4rem 6rem;
}
.section_margin{
    margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @media screen and (max-width:700px) {
    .section_padding{
        padding: 4rem;
    }
    .section_margin{
        margin: 4rem;
    }

  }

  @media screen and (max-width:550px) {
    .section_padding{
        padding: 2rem;
    }
    .section_margin{
        margin: 3rem 2rem;
    }
    /* h1,h2,p{
      font-size: 80%;
    } */

  }